body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
    display: inline-block;
}
html,
body {
    min-width: 100%;
}
form input {
    margin-top: 10px;
}

form select {
    margin-top: 10px;
}
a {
    padding: 40 px;
    cursor: pointer;
    text-decoration: red;
    color: rgb(97, 89, 89);
    margin-top: 5px;
    display: inline-block;
    padding: 5px 5px;
    border-radius: 18px;
    font-size: 30px;
}
button {
    cursor: pointer;
}
.heading1 {
    border-style: solid;
    border-width: 1px;
    background-color: rgb(222, 222, 233);
}
.heading {
    margin-left: 40px;
    padding-right: 20px;
}
.logoutButton {
    position: absolute;
    right: 0;
    font-size:30px;
    border-radius: 18px;
    background-color: white;
    top: 0;
    margin-top: 60px;
}
.navigationbar {
    border-style: solid;
    width: 156px;
    padding-top: 0px;
    margin-top: 60px;
    border-width: 1px;
    border-bottom: 1px;
    height: 698px;
}
.appointmentBar {
    border-style: solid;
    margin-left: 157px;
    border-width: 1px;
    margin-top: -698px;
    margin-bottom: 40px;
}
.dashboard1 {
    font-size: 20px;
    background-color: white;
    margin-bottom: 90px;
    border-right: 0px;
    padding-top: 0px;
}
.patient1 {
    font-size: 20px;
    background-color: white;
    padding-right: 37px;
    margin-bottom: 90px;
    border-right: 0px;
    padding-right: 42px;
}
.profile1 {
    font-size: 20px;
    background-color: white;
    padding-right: 45px;
    border-right: 0px;
    padding-right: 48px;
}
.dashboardimage {
    width: 40px;
}
.patientimage {
    width: 25px;
}
.profileimage {
    width: 24px
}
.dash1 {
    border-style: solid;
    margin-left: 156px;
    margin-top: -698px;
    border-left: 0px;
    border-width: 1px;
    padding-top: 150px;
    padding-bottom: 148px;
    border-bottom: 0px;
}
.appointments1 {
    margin-left: 100px;
    border-style: solid;
    width: 650px;

}
.appointmentimage {
    width: 60px;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-left: 40px;
}
.appointment-button1 {
    margin-left: 70px;
    position: absolute;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 100px;
    padding-left: 180px;
    font-size: 20px;
    background-color: rgb(222, 222, 233);
    border-width: 1px;
}
.heading2 {
    border-style: solid;
    width: 500px;
    border: none;
    background-color: rgb(235, 229, 146);
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 25px;
    margin-left: 300px;
}
.showadmin {
    margin-left: 300px;
    margin-top: -400px;

}
.profilebar {
    border-style: solid;
    margin-left: 152px;
    border-width: 1px;
    margin-top: -698px;
}
.feed1 {
    margin: auto;
    width: 26px;
    padding-right: 5px;
    padding-left: 5px;
}
.Dlist2 {
    background-color: rgb(181, 188, 207);
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 200px;
    padding-left: 20px;
    margin-left: 30px;
    margin-top: -31px;
}
.profile {
    margin-top: 100px;
    margin-left: 300px;
}
label {
    display: inline-block;
    width: 140px;
    text-align: right;
}
.update1 {
    margin-left: 200px;
    background-color: rgb(153, 224, 139);
    border-style: solid;
    border-radius: 18px;
    padding-right: 30px;
    padding-left: 30px;
    border-width: 1px;
    margin-bottom: 40px;
    margin-top: 100px;
}
input::placeholder {
    padding-left: 40px;
}
.patientlist {
    counter-reset: serial-number;
    margin-top: 80px;
    margin-left: 156px;
}
.patientlist td:first-child:before {
    counter-increment: serial-number;
    content: counter(serial-number);
}
.message {
    margin-left: 200px;
    font-size: 30px;
    color: red;
    margin-top: 30px;
}
.patientBar1 {
    border-style: solid;
    margin-left: 156px;
    border-width: 1px;
    margin-top: -698px;
    margin-bottom: 80px;
}
.searchbox1 {
    margin-left: 40px;
    width: 400px;
    margin-bottom: 80px;
}
.patientlist {
    counter-reset: serial-number;
    margin-top: 40px;
    margin-left: 157px;
}

.patientlist td:first-child:before {
    counter-increment: serial-number;
    content: counter(serial-number);
}
table,
th,
td {
    border-style: solid;
    border-width: 1px;
}

table {
    border-collapse: collapse;
}

th {
    background-color: lightgoldenrodyellow;
}
.Plist1 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    margin-right: -5px;
    background-color: rgb(181, 188, 207);
    border-bottom: 0px;
}
.Padd1 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: white;
    border-bottom: 0px;

}
.searchbox1 {
    margin-left: 180px;
    width: 400px;

}
.next {
    margin-left: 400px;
    background-color: rgb(153, 224, 139);
    border-style: solid;
    border-radius: 18px;
    padding-right: 30px;
    padding-left: 30px;
    border-width: 1px;
    margin-bottom: 40px;
    margin-top: 100px;
}
.addPatient {
    margin-left: 140px;
}
.add1 {
   background-color:rgb(235, 229, 146);
   border: solid;
   border-width: 1px;
   width: 204px;
   padding-bottom: 10px;
   padding-top: 10px;
   padding-left: 30px;
   padding-right: 30px;
   border-top: 0px;
   margin-left: 17px;
   margin-bottom: 100px;
   margin-top:-80px;
}
.addpatientbutton {
   margin-left: 400px;
   background-color: rgb(153, 224, 139);
   border-style:solid;
   border-radius: 18px;
   padding-right: 40px;
   padding-left: 40px;
   border-width: 1px;
   margin-bottom: 40px;
   margin-top: 100px;
   padding-top: 10px;
   padding-bottom: 10px;
}
.Appointmentlist {
    counter-reset: serial-number;
    margin-top: 80px;
    margin-left: 157px;
}

.Appointmentlist td:first-child:before {
    counter-increment: serial-number;
    content: counter(serial-number);
}
.nextline {
    position: absolute;
    margin-left: 500px;
    margin-top: -150px;
}