body {
    display: table;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.forgotPasswordBar {
    margin-top: 200px;
}
input::placeholder {
    padding-left: 40px;
}
input {
    width: 200px;
}
.forgotPasswordButton{
    background-color: white;
    border-style:solid;
    border-radius: 18px;
    margin-top:30px;
    margin-left:40px;
    font-size: 20px;
}
.linkText{
    margin-bottom: 40px;
    margin-left: 20px;
}
.resetPasswordText{
    padding: 10px;
    position: absolute;
    border-style: solid;
    border:none;
    background-color: rgb(235, 229, 146);
    display: flex;
    justify-content: center;
    margin:auto;
    margin-top: -80px;
    margin-left: 20px;
}
.ResetPassword{
    padding: 10px;
    position: absolute;
    border-style: solid;
    border:none;
    background-color: rgb(235, 229, 146);
    display: flex;
    justify-content: center;
    margin:auto;
    margin-top: -80px;
    margin-left: 20px;
}
.tick{
    width: 50px;
    margin-left: 80px;
}
.passwordlink{
    margin-top: 300px;
}
.successMessage{
    margin-top: 80px;
}
.resetForm{
    margin-top: 300px;
}
.resetbutton{
    position: absolute;
    margin-left: 50px;
    background-color: rgb(153, 224, 139);
    border-style: solid;
    border-radius: 18px;
    padding-right: 30px;
    padding-left: 30px;
    border-width: 1px;
    margin-bottom: 40px;
    margin-top: 20px;
}
