body {
    display: table;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.heading1 {
    border-style: solid;
    border-width: 1px;
    background-color: rgb(222, 222, 233);
    width: 1920px;
}
form input {
    margin-top: 10px;
}

form select {
    margin-top: 10px;
}

.heading {
    margin-left: 185px;
    margin-top: 40px;
    margin-bottom: 15px;
}

.logoutButton {
    position: absolute;
    font-size: 30px;
    margin-left: 1680px;
    margin-top: -60px;
    border-radius: 18px;
    background-color: white;
    padding-right: 25px;
}

.navigationbar {
    position: static;
    border-style: solid;
    width: 156px;
    padding-top: 0px;
    margin-top: 60px;
    border-top: 0px;
    border-width: 1px;
    border-bottom: 0px;
}
.dashboard1 {
    font-size: 20px;
    background-color: white;
    margin-bottom: 90px;
    border-right: 0px;
    padding-top: 0px;
}

.patient1 {
    font-size: 20px;
    background-color: white;
    padding-right: 37px;
    margin-bottom: 90px;
    border-right: 0px;
}

.profile1 {
    font-size: 20px;
    background-color: white;
    padding-right: 45px;
    margin-bottom: 394px;
    border-right: 0px;
}

.dashboardimage {
    width: 40px;
}

.patientimage {
    width: 25px;
}

.profileimage {
    width: 24px
}
.dash1 {
    border-style: solid;
    margin-left: 156px;
    margin-top: -693px;
    border-left: 0px;
    border-width: 1px;
    padding-top: 150px;
    padding-bottom: 148px;
    border-bottom: 0px;
}
.admit1 {
    margin-left: 100px;
    border-style: solid;
    width: 650px;
}
.discharge1 {
    margin-left: 100px;
    border-style: solid;
    width: 650px;
}
.appointments1 {
    margin-left: 100px;
    border-style: solid;
    width: 650px;
    padding-bottom: 20px;
}
.admitimage {
    width: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 40px;
}

.dischargeimage {
    width: 60px;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-left: 40px;
}

.appointmentimage {
    width: 40px;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-left: 60px;
    opacity: 50%;
}

.admit-button1 {
    margin-left: 70px;
    position: absolute;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 200px;
    padding-left: 200px;
    font-size: 20px;
    background-color: rgb(222, 222, 233);
    border-width: 1px;
}

.discharge-button1 {
    margin-left: 70px;
    position: absolute;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 180px;
    padding-left: 180px;
    font-size: 20px;
    background-color: rgb(222, 222, 233);
    border-width: 1px;
}

.appointment-button1 {
    margin-left: 70px;
    position: absolute;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 40px;
    padding-left: 80px;
    font-size: 20px;
    background-color: rgb(222, 222, 233);
    border-width: 1px;
}
.heading2 {
    border-style: solid;
    width: 500px;
    border: none;
    background-color: rgb(235, 229, 146);
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 25px;
    margin-left: 300px;
}
.heading2 {
    border-style: solid;
    width: 650px;
    border: none;
    background-color: rgb(235, 229, 146);
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 25px;
    margin-left: 300px;
}
.profilebar {
    border-style: solid;
    margin-left: 155px;
    border-width: 1px;
    margin-top: -694px;
}

.feed1 {
    margin: auto;
    width: 26px;
    padding-right: 5px;
    padding-left: 5px;
}
.profile {
    margin-top: 100px;
    margin-left: 300px;
}
label {
    display: inline-block;
    width: 140px;
    text-align: right;
}
input::placeholder {
    padding-left: 40px;
}

input {
    width: 300px;
}
.Dlist2 {
    background-color: rgb(181, 188, 207);
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    width: 200px;
    padding-left: 20px;
    margin-left: 30px;
    margin-top: -20px;
}
.update1 {
    margin-left: 200px;
    background-color: rgb(153, 224, 139);
    border-style: solid;
    border-radius: 18px;
    padding-right: 30px;
    padding-left: 30px;
    border-width: 1px;
    margin-bottom: 40px;
    margin-top: 100px;
}
.profile1 {
    font-size: 20px;
    background-color: white;
    padding-right: 45px;
    margin-bottom: 394px;
    border-right: 0px;
}
.message {
    margin-left: 200px;
    font-size: 30px;
    color: red;
    margin-top: 30px;
}
.patientBar1 {
    border-style: solid;
    margin-left: 156px;
    border-width: 1px;
    margin-top: -694px;
    margin-bottom: 80px;
}

.searchbox1 {
    margin-left: 40px;
    width: 400px;
    margin-bottom: 80px;
}
.searchbox2 {
    margin-left: 200px;
    width: 400px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.patientlist {
    counter-reset: serial-number;
    margin-top: 40px;
    margin-left: 156px;
}

.patientlist td:first-child:before {
    counter-increment: serial-number;
    content: counter(serial-number);
}

table,
th,
td {
    border: 1px solid black;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 50px;
    padding-right: 50px;
}
.Plist1 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    margin-right: -5px;
    background-color: rgb(181, 188, 207);
    border-bottom: 0px;
}

.Padd1 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: white;
    border-bottom: 0px;

}
.searchbox1 {
    margin-left: 180px;
    width: 400px;

}
.next {
    margin-left: 400px;
    background-color: rgb(153, 224, 139);
    border-style: solid;
    border-radius: 18px;
    padding-right: 30px;
    padding-left: 30px;
    border-width: 1px;
    margin-bottom: 40px;
    margin-top: 100px;
}
.addPatient {
    margin-left: 300px;
    margin-top: 60px;

}
.add1 {
    position: absolute;
    background-color: rgb(235, 229, 146);
    border: solid;
    border-width: 1px;
    width: 204px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-top: 0px;
    margin-left: -144px;
    margin-top: -80px;
}
.addpatientbutton {
    margin-left: 200px;
    background-color: rgb(153, 224, 139);
    border-style: solid;
    border-radius: 18px;
    padding-right: 30px;
    padding-left: 30px;
    border-width: 1px;
    margin-bottom: 40px;
    margin-top: 100px;

}
.admitbar {
    border-style: solid;
    margin-left: 155px;
    border-width: 1px;
    margin-top: -693px;
    border-left: 0px;
}
.dischargebar{
    border-style: solid;
    margin-left: 155px;
    border-width: 1px;
    margin-top: -693px;
    border-left: 0px;
}
.admitList {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    margin-right: -5px;
    background-color: rgb(181, 188, 207);
    border-bottom: 0px;
}
.dischargeList{
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 50px;
   padding-right: 50px;
   margin-right: -5px;
   background-color: rgb(181, 188, 207);
   border-bottom: 0px;
}
.admitPatient {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: white;
    border-bottom: 0px;
}
.dischargePatient{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: white;
    border-bottom: 0px;
}
.Admitlist {
    counter-reset: serial-number;
    margin-top: 80px;
    margin-left: 156px;
}

.Admitlist td:first-child:before {
    counter-increment: serial-number;
    content: counter(serial-number);
}
.admitform {
    margin-left: 300px;
    margin-top: 100px;
}
.AdmitButton {
    margin-left: 100px;
    background-color: rgb(153, 224, 139);
    border-style: solid;
    border-radius: 18px;
    padding-right: 30px;
    padding-left: 30px;
    border-width: 1px;
    margin-bottom: 40px;
    margin-top: 100px;
}

.cancelbutton {
    position: absolute;
    margin-left: 210px;
    background-color: rgb(153, 224, 139);
    border-style: solid;
    border-radius: 18px;
    padding-right: 30px;
    padding-left: 30px;
    border-width: 1px;
    margin-bottom: 40px;
    margin-top: -65px;
}
.Dischargelist {
    counter-reset: serial-number;
    margin-top: 80px;
    margin-left: 156px;
}

.Dischargelist td:first-child:before {
    counter-increment: serial-number;
    content: counter(serial-number);
}

.dischargeform {
    margin-left: 300px;
    margin-top: 100px;
}

.DischargeButton {
    margin-left: 100px;
    background-color: rgb(153, 224, 139);
    border-style: solid;
    border-radius: 18px;
    padding-right: 30px;
    padding-left: 30px;
    border-width: 1px;
    margin-bottom: 40px;
    margin-top: 100px;
}
.Slot{
    border-style:solid ;
    background-color:rgb(222, 222, 233);
    margin-top: 60px;
    width: 300px;
    border-width: 1px; 
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.alreadyRegistered{
    border-width:0px;
    position: absolute;
    margin-left: 970px;
    width: 200px;
    margin-top: -55px;
    padding-top: 15px;
    padding-bottom: 15px;

}
.patientinfo{
    border-style:solid;
    background-color:rgb(222, 222, 233);
    margin-top: 80px;
    width: 300px;
    border-width: 1px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.addappointments{
    background-color: rgb(153, 224, 139);
    border-style: solid;
    border-radius: 18px;
    border-width: 1px;
    margin-left: 150px;
    margin-top: 15px;
    padding-left: 30px;
    padding-right: 30px;

}