<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheet/doctor.css">
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <div class="heading1">
            <h1 class="heading" style="font-size:50px;"><span class="fas fa-plus"
                    style="font-size:40px;color:rgb(142, 142, 179);border-style:solid;border-radius:100%;padding:10px;border-width:7px;"></span>&ensp;
                PMS</h1>
            <button class="logoutButton" id="logoutButton" onclick="logout()"><span
                    class="fas fa-power-off"></span>&ensp;Logout</button>
        </div>
        <h1 class="heading2" id="heading2">Patient Detiails</h1>
        <div class="navigationbar">
            <button class="dashboard1" onclick="dboard1()"><span><input type=image class="dashboardimage"
                        src="/img/dashboard.png"></span></span>&nbsp;Dashboard</button>
            <br>
            <br>
            <button class="patient1" onclick="showPatient()"><span><input type=image class="patientimage"
                        src="/img/patient.png"></span>&emsp;Patient</button>
            <br>
            <button class="profile1" onclick="showProfile()"><span><input type=image class="profileimage"
                        src="/img/profile.png"></span>&emsp;Profile</button>
        </div>
        <div class="pbar1" id="pbar1">
            <div class="patientBar1">
                <input type=image class="feed1" src="/img/feed.png">
                <button class="Plist1" onclick="viewPatient()">Patient List</button>
                <button class="Padd1" onclick="addPatient()">Add Patient</button>
            </div>
            <div class="searchbox1" id="searchbox3">
                <span class="fas fa-search" style="position:absolute;margin-top:5px;margin-left:5px;"></span>
                <input type="text" placeholder="search" id="patientsearch" style="padding-left:50px;">
            </div>
            <table class="patientlist" id="patientlist">
                <thead>
                    <tr>
                        <th>S.No.</th>
                        <th>Patient Id</th>
                        <th>Patient name</th>
                        <th>Age</th>
                        <th>Gender</th>
                        <th>Blood Group</th>
                        <th>Birth Date</th>
                    </tr>
                </thead>
                <tbody id="list3">
                </tbody>
            </table>
            <button class="next" id="edit2" onclick="next()">next</button>
            <div class="addPatient" id="addPatient" style="display:none">
                <p class="add1">Add Patient</p>
                <form id="PatientForm">
                    <label>Patient Name</label>
                    <input type="text" id="patientName" required>
                    <br>
                    <label>Patient Id</label>
                    <input type="text" id="patientId" required>
                    <br>
                    <label>Email</label>
                    <input type="text" id="patientEmail" required>
                    <br>
                    <label>Address</label>
                    <input type="text" id="patientAddress" required>
                    <br>
                    <label>Phone No</label>
                    <input type="text" id="patientPhoneNo" required>
                    <br>
                    <label>Age</label>
                    <input type="text" id="age" required>
                    <br>
                    <label for="gender">Gender</label>
                    <select id="gender" name="gender">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                    <br>
                    <label for="bloodGroup">Blood Group</label>
                    <select id="bloodGroup" name="bloodGroup">
                        <option value="O positive">O positive</option>
                        <option value="A positive">A positive</option>
                        <option value="B positive">B positive</option>
                        <option value="AB positive">AB positive</option>
                        <option value="O negative">O negative</option>
                        <option value="A negative">A negative</option>
                        <option value="B negative">B negative</option>
                        <option value="AB negative">AB negative</option>
                    </select>
                    <br>
                    <label for="birthDate">Birth Date</label>
                    <input type="date" id="birthDate" name="birthDate" required>
                    <br>
                    <button class="addpatientbutton">Submit</button>
                </form>
            </div>
        </div>
        <p id="message" class="message"></p>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.6.0/qs.min.js"></script>
        <script>
            function showProfile() {
                var { token } = Qs.parse(location.search, { ignoreQueryPrefix: true })
                location.href = `/doctorprofile?&token=${token}`
            }
        </script>
        
        <script src="/js/logout.js"></script>
        <script src="/js/doctorpatientadd.js"></script>
        <script src="/js/doctorpatientshow.js"></script>
        <script>
            function dboard1() {
                var { token } = Qs.parse(location.search, { ignoreQueryPrefix: true })
                location.href = `/dashboard/doctor?&token=${token}`
            }
        </script>
        <script>
            function showPatient() {
                var { token } = Qs.parse(location.search, { ignoreQueryPrefix: true })
                location.href = `/doctor/patient?&token=${token}&page=${0}`
            }
        </script>
        <script>
            function addPatient() {
                document.getElementById('patientlist').style.display = "none"
                document.getElementById('searchbox3').style.display = "none"
                document.getElementById('addPatient').style.display = "block"
                document.getElementById('edit2').style.display = "none"

            }
        </script>
        <script>
            function viewPatient() {
                document.getElementById('patientlist').style.display = ""
                document.getElementById('searchbox3').style.display = ""
                document.getElementById('addPatient').style.display = "none"
                document.getElementById('edit2').style.display = "none"
            }
        </script>
    </body>
</html>