<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheet/forgotPassword.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="forgotPasswordBar">
            <p id="resetPasswordText" class="resetPasswordText">Reset Password</p>
            <p id="linkText" class="linkText">A link will be send to<br>the following email id</p>
            <form id="passwordResetForm">
                <input id="Email" placeholder="Email" required>
                <br>
                <button class="forgotPasswordButton">Submit</button>
            </form>
        </div>
        <script src='/js/forgotpassword.js'></script>
    </body>
</html>