<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheet/forgotPassword.css">
    </head>
    <body>
        <div class="resetForm">
            <p class="ResetPassword">Reset Password</p>
            <form id="resetForm">
                <input id="email" placeholder="email" value="{{email}}" disabled="disabled">
                <br>
                <input id="newPassword" placeholder="New Password">
                <br>
                <input id="confirmPassword" placeholder="Confirm Password">
                <br>
                <button class="resetbutton">Reset</button>
            </form>
            <p id="message" class="message"></p>
        </div>
        <script src="/js/resetform.js"></script>
    </body>
</html>