<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheet/forgotPassword.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="resetForm">
            <p class="ResetPassword">Reset Password</p>
            <form id="resetForm">
                <input id="email" placeholder="email">
                <br>
                <input id="newPassword" placeholder="New Password">
                <br>
                <input id="confirmPassword" placeholder="Confirm Password">
                <br>
                <button class="resetbutton">Reset</button>
            </form>
        </div>
        <script src="/js/resetform.js"></script>
    </body>
</html>