<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheet/forgotPassword.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="passwordlink">
            <input type="image" class="tick" src="/img/tickmark.png">
            <p class="successMessage">&emsp;&emsp;&emsp;&emsp;A link has <br>&emsp;&emsp;&emsp;&ensp;been sent to<br> {{email}}</p>
        </div>
    </body>
</html>